@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #3F3E3E;
  --red: #EA1D2C;
  background: white;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: var(--red);
}

::selection {
  color: white;
  background: var(--red);
}

body {
  color: var(--text);
  background: var(--background);
  font-family: var(--font-ifood-regular);
}
